.container {
  text-align: center;
}

.header {
  color: #246a96;
  margin: 24px 0;
  font-size: calc(10px + 2vmin);
}

.input-url {
  margin: 24px;
  width: 480px;
  outline: none;
  border: none;
  border-bottom: 3px solid #ff7626;
  background: none;
}

.input-url:focus {
  border-bottom: 2px solid #246a96;
}

.button {
  background: none;
  border: 3px solid #246a96;
  padding: 18px 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 11px;
  font-weight: 600;
  color: #246a96;
  cursor: pointer;
}

.button:focus {
  border: 3px solid #ff7626;
  outline: none;
}

.button:hover {
  color: #ff7626;
}

.button:disabled {
  color: #808080;
  border: 3px solid #808080;
  cursor: not-allowed;
}

.display > span {
  display: block;
  font-size: 11px;
  font-weight: 600;
  color: #246a96;
}